.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.cart-remove {
  align-self: flex-end;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.summary {
  align-self: flex-end;
  width: 400px;
}
.checkout-button {
  cursor: pointer;
  background-color: #0b69ff;
  border: none;
  outline: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
